<h2>Sign Up</h2>

<form action="/signup" method="post">
  <label for="username">Username</label>
  <p><input type="text" name="username" id="username"></p>
  <label for="email">Email Address</label>
  <p><input type="text" name="email" id="email"></p>
  <label for="password">Password</label>
  <p><input type="text" name="password" id="password"></p>
  <input type="submit" value="Submit">
</form>
