<h2>Add Inventory</h2>

<form action="/styles" method="post">
  <label for="style_name">Style Name</label>
  <p><input type="text" name="style_name" id="style_name"></p>

  <label for="style_name">Size</label>
  <p><input type="text" name="size" id="size"></p>
  <input type="submit" value="Submit">
</form>
