<h2>Hello, <%= current_user.username %>!</h2>
<h3>Available Inventory - Happy Shopping!</h3>

<% @style.each do |style| %>
  <%= style.style_name %> (<%= style.size %>)<br>
  by <%= style.user.username.upcase %><br>
  <br>
<% end %>